In [171]:
import pandas as pd
import numpy as np

data_freq = pd.read_excel('dataframe1(1).xlsx')
data_freq.drop("Word", inplace=True, axis=1)
data_freq = data_freq[6:11]

In [172]:
word = "abc"
data_freq.iloc[0][word[1]]

0.055710306406685235

In [173]:

data = pd.read_excel('dataframe2.xlsx')
data = data.iloc[:, 2:3]

In [177]:
def frequence_score(word):
    score = 0
    for i in range(len(word)):
        if word[i] not in data_freq.columns:
            score += 0
        else :score += data_freq.iloc[i][word[i]]
    return score * 2

def repeat_score(word):
    letter_counts = {}
    for letter in word:
        if letter in letter_counts:
            letter_counts[letter] += 1
        else:
            letter_counts[letter] = 1

    max_count = 0
    for letter, count in letter_counts.items():
        if count > max_count:
            max_count = count

    return max_count * 0.4

dic_comb_to_score = {
    "ly": 0.5,
    "ing": 0.5,
    "ed": 0.5,
    "ion": 0.5,
    "er": 0.5,
    "est": 0.5,
    "ness": 0.5,
    "ful": 0.5,
    "less": 0.5,
    "al": 0.5,
    "ous": 0.5,
    "ic": 0.5,
    "able": 0.5,
    "ible": 0.5,
    "ant": 0.5,
    "ent": 0.5,
    "ment": 0.5,
    "ism": 0.5,
    "ate": 0.5,
    "en": 0.5,
    "ify": 0.5,
    "ize": 0.5,
    "ise": 0.5
}
def combine_score(word):
    score = 0
    for comb in dic_comb_to_score:
        if comb in word:
            score += dic_comb_to_score[comb]
    return score * 4

word = "eerie"
frequence_score(word), repeat_score(word), combine_score(word)

(0.8579387186629527, 1.2000000000000002, 2.0)

In [175]:
data = pd.read_excel('dataframe2.xlsx')
words = data.iloc[:, 2:3]
words.iloc[5][0]
freq_scores = []
rep_scores = []
comb_scores = []
for i in range(len(words)):
    freq_scores.append(frequence_score(words.iloc[i][0]))
    rep_scores.append(repeat_score(words.iloc[i][0]))
    comb_scores.append(combine_score(words.iloc[i][0]))
data['frequence'] = freq_scores
data['repeat'] = rep_scores
data['combine'] = comb_scores
data.drop(['%','percentage of hard mode', 'easywords','cumDup', 'easywordsband', 'hardwords', 'hardwordsband'], inplace=True, axis=1)
data.to_excel('dataframe3.xlsx')
data

,Unnamed: 0,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),double,vowel,cumVowel,uncommonwords,frequence,repeat,combine
0,NaN,560,manly,20380,1899,0,2,17,37,29,12,2,0,0,1,0,0.919220,0.4,2.0
1,NaN,559,molar,21204,1973,0,4,21,38,26,9,1,0,1,2,0,0.807799,0.4,0.0
2,NaN,558,havoc,20001,1919,0,2,16,38,30,12,2,0,1,2,0,0.501393,0.4,0.0
3,NaN,557,impel,20160,1937,0,3,21,40,25,9,1,0,1,2,0,0.540390,0.4,0.0
4,NaN,556,condo,20879,2012,0,2,17,35,29,14,3,1,1,2,0,0.701950,0.8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,NaN,206,drink,153880,3017,1,9,35,34,16,5,1,0,0,1,0,0.746518,0.4,0.0
355,NaN,205,query,107134,2242,1,4,16,30,30,17,2,0,1,2,0,0.713092,0.4,2.0
356,NaN,204,gorge,91477,1913,1,3,13,27,30,22,4,1,1,2,0,0.986072,0.8,0.0
357,NaN,203,crank,101503,1763,1,5,23,31,24,14,2,0,0,1,0,0.857939,0.4,0.0
358,NaN,202,slump,80630,1362,1,3,23,39,24,9,1,0,0,1,0,0.802228,0.4,0.0